// Start Section Footer 
footer
  .container
    .row
      .col-lg-5
        div.footer.foot-about
          h4 شقاوه ستور
          p يختص موقعنا بتقديم خدمات شحن جميع الالعاب ونتميز بالدقـــة و الامانـــة والسرعـــة وارخص الاسعـــار بلا منافسه وبإذن الله تعالى سنكون الأفضل لكم وبكم ونتمنى أن تنال خدماتنا رضاكم

      .col-lg-3
        div.footer.foot-contact
          h4 تواصل معنا
          ul(class='phone list-unstyled')
            li  01066977670 2+
            li  01093137220 2+
          ul(class='social-media list-unstyled d-flex')
            li: a(href='https://www.facebook.com/Hassan.Soliman.372' target='_blank' title="Facebook")
              i.fa.fa-facebook-f
            li: a(href='https://www.youtube.com/channel/UCGncfWMgsdByezg-2NgzDVQ?fbclid=IwAR0FZNNh-bxCbhJPjSgxKc_Lu1IOS2l3Q4FEZG6rjYAB4b1T6KbYi6xMqXQ' target='_blank' title="Youtube")
              i.fa.fa-youtube

      .col-lg-4
        div.footer
          h4 تابعنا على فيسبوك
          div
            .fb-page(data-href='https://www.facebook.com/FF.EG.SQUAD/' data-small-header='false' data-adapt-container-width='false' data-hide-cover='false' data-show-facepile='true')
            blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/FF.EG.SQUAD/')
            a(href='https://www.facebook.com/FF.EG.SQUAD/') 

    hr

    .copy.col-md-12.text-center
      p.d-inline Copyright ©2020 All rights reserved Shaqawa Store | Designed By: 
      a(href="http://bit.ly/2R4PLwc" target='_blank') Ahmed Badr
// End Section Footer 