// Start Section About 
section.about.p-top-botm
  .container
    .about-me
      // Title Section 
      .title-section
        h2 من #[span نحن]

      p #[span موقع شقاوة ستور] هو موقع متكامل لشحن جميع الالعاب الاونلاين وبطاقات الدفع على الانترنت  بدأنا بصفحة صغيره على موقع التواصل الاجتماعي فيسبوك وبكم اصبحنا اكبر موقع لشحن الالعاب <br> يهمنا ثقتكم ورضاكم #[span مكان تواجدنا ]القاهرة - حلوان شارع صالح صبحي من شارع الجبل
  
// End Section About 




//- اتصل بنا 
//- 01093137220 - 01066977670