// Start Section Freefire 
section.fire.credit.p-top-botm
  .container
    // Title Section 
    .title-section
      h2 اسعار شحن #[span Freefire]

    .row
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/free.jpg' alt='Image')
          .card-body.text-center
            h6 Freefire
            h5 100 
            h4 25 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 100 
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  25 جنيه
                    li رصيد فودافون:
                      span  17 جنيه
                    li تحويل باى بال:
                      span  1$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/free.jpg' alt='Image')
          .card-body.text-center
            h6 Freefire
            h5 310 
            h4 50 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-free-1"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-free-1.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-free-1' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 310 
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  50 جنيه
                    li رصيد فودافون:
                      span  50 جنيه
                    li تحويل باى بال:
                      span  3$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/free.jpg' alt='Image')
          .card-body.text-center
            h6 Freefire
            h5 520 
            h4 85 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-free-2"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-free-2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-free-2' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 520 
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  85 جنيه
                    li رصيد فودافون:
                      span  85 جنيه
                    li تحويل باى بال:
                      span  5$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/free.jpg' alt='Image')
          .card-body.text-center
            h6 Freefire
            h5 1060 
            h4 170 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-free-3"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-free-3.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-free-3' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 1060 
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  170 جنيه
                    li رصيد فودافون:
                      span  170 جنيه
                    li تحويل باى بال:
                      span  10$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/free.jpg' alt='Image')
          .card-body.text-center
            h6 Freefire
            h5 2180 
            h4 340 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-free-4"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-free-4.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-free-4' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 2180 
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  340 جنيه
                    li رصيد فودافون:
                      span  340 جنيه
                    li تحويل باى بال:
                      span  20$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/free.jpg' alt='Image')
          .card-body.text-center
            h6 Freefire
            h5 5600 
            h4 800 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-free-5"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-free-5.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-free-5' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 5600 
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  800 جنيه
                    li رصيد فودافون:
                      span  800 جنيه
                    li تحويل باى بال:
                      span  50$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
// End Section Freefire 