// Start Section Google Play 
section.credit.p-top-botm
  .container
    // Title Section 
    .title-section
      h2 اسعار شحن #[span Google Play]

    .row
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/google.jpg' alt='Image')
          .card-body.text-center
            h6 Google Play
            h5 $10
            h4 170 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $10
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  170 جنيه
                    li رصيد فودافون:
                      span  170 جنيه
                    li تحويل باى بال:
                      span  9$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/google.jpg' alt='Image')
          .card-body.text-center
            h6 Google Play
            h5 $25
            h4 425 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-google-1"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-google-1.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-google-1' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $25
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  425 جنيه
                    li رصيد فودافون:
                      span  425 جنيه
                    li تحويل باى بال:
                      span  18$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/google.jpg' alt='Image')
          .card-body.text-center
            h6 Google Play
            h5 $50
            h4 850 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-google-2"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-google-2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-google-2' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $50
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  850 جنيه
                    li رصيد فودافون:
                      span  850 جنيه
                    li تحويل باى بال:
                      span  45$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/google.jpg' alt='Image')
          .card-body.text-center
            h6 Google Play
            h5 $75
            h4 1275 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-google-3"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-google-3.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-google-3' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $75
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  1275 جنيه
                    li رصيد فودافون:
                      span  1275 جنيه
                    li تحويل باى بال:
                      span  65$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/google.jpg' alt='Image')
          .card-body.text-center
            h6 Google Play
            h5 $100
            h4 1700 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-google-4"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-google-4.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-google-4' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $100
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  1700 جنيه
                    li رصيد فودافون:
                      span  1700 جنيه
                    li تحويل باى بال:
                      span  90$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/google.jpg' alt='Image')
          .card-body.text-center
            h6 Google Play
            h5 $150
            h4 2550 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-google-5"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-google-5.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-google-5' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $150
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  2550 جنيه
                    li رصيد فودافون:
                      span  2550 جنيه
                    li تحويل باى بال:
                      span  135$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
// End Section Google Play 