// Start Section Itunes  
section.itunes.credit.p-top-botm
  .container
    // Title Section 
    .title-section
      h2 اسعار شحن #[span Itunes]

    .row
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/itunes.png' alt='Image')
          .card-body.text-center
            h6 Itunes
            h5 $10
            h4 160 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $10
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  160 جنيه
                    li رصيد فودافون:
                      span  160 جنيه
                    li تحويل باى بال:
                      span  8$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/itunes.png' alt='Image')
          .card-body.text-center
            h6 Itunes
            h5 $25
            h4 400 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-itunes-1"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-itunes-1.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-itunes-1' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $25
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  400 جنيه
                    li رصيد فودافون:
                      span  400 جنيه
                    li تحويل باى بال:
                      span  15$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/itunes.png' alt='Image')
          .card-body.text-center
            h6 Itunes
            h5 $50
            h4 800 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-itunes-2"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-itunes-2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-itunes-2' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $50
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  800 جنيه
                    li رصيد فودافون:
                      span  800 جنيه
                    li تحويل باى بال:
                      span  40$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/itunes.png' alt='Image')
          .card-body.text-center
            h6 Itunes
            h5 $75
            h4 1200 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-itunes-3"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-itunes-3.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-itunes-3' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $75
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  1200 جنيه
                    li رصيد فودافون:
                      span  1200 جنيه
                    li تحويل باى بال:
                      span  55$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/itunes.png' alt='Image')
          .card-body.text-center
            h6 Itunes
            h5 $100
            h4 1600 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-itunes-4"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-itunes-4.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-itunes-4' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $100
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  1600 جنيه
                    li رصيد فودافون:
                      span  1600 جنيه
                    li تحويل باى بال:
                      span  80$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/itunes.png' alt='Image')
          .card-body.text-center
            h6 Itunes
            h5 $150
            h4 2400 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-itunes-5"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-itunes-5.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-itunes-5' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title $150
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  2400 جنيه
                    li رصيد فودافون:
                      span  2400 جنيه
                    li تحويل باى بال:
                      span  120$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
// End Section Itunes  