// Start Section Pubg 
section.pubg.credit.p-top-botm
  .container
    // Title Section 
    .title-section
      h2 اسعار شحن #[span Pubg Mobile]

    .row
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/pubg.jpg' alt='Image')
          .card-body.text-center
            h6 Pubg
            h5 60 UC
            h4 25 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 60 UC
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  25 جنيه
                    li رصيد فودافون:
                      span  17 جنيه
                    li تحويل باى بال:
                      span  1$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal

      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/pubg.jpg' alt='Image')
          .card-body.text-center
            h6 Pubg
            h5 325 UC
            h4 80 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-pubg-1"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-pubg-1.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-pubg-1' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 325 UC
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  80 جنيه
                    li رصيد فودافون:
                      span  80 جنيه
                    li تحويل باى بال:
                      span  5$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/pubg.jpg' alt='Image')
          .card-body.text-center
            h6 Pubg
            h5 660 UC
            h4 160 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-pubg-2"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-pubg-2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-pubg-2' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 660 UC
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  160 جنيه
                    li رصيد فودافون:
                      span  160 جنيه
                    li تحويل باى بال:
                      span  10$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/pubg.jpg' alt='Image')
          .card-body.text-center
            h6 Pubg
            h5 1800 UC
            h4 400 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-pubg-3"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-pubg-3.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-pubg-3' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 1800 UC
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  400 جنيه
                    li رصيد فودافون:
                      span  400 جنيه
                    li تحويل باى بال:
                      span  25$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/pubg.jpg' alt='Image')
          .card-body.text-center
            h6 Pubg
            h5 3850 UC
            h4 800 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-pubg-4"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-pubg-4.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-pubg-4' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 3850 UC
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  800 جنيه
                    li رصيد فودافون:
                      span  800 جنيه
                    li تحويل باى بال:
                      span  50$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
      // Start Item 
      .col-lg-4.col-md-6
        .card
          img.card-img-top(src='img/charge/pubg.jpg' alt='Image')
          .card-body.text-center
            h6 Pubg
            h5 8100 UC
            h4 1600 جنيه
            a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-pubg-5"): span
              |  أطلب شحنتك الان
        // Start Credit 
        .credit-body
          #credit-pubg-5.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-pubg-5' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  span.title 8100 UC
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.text-center
                  ul.price.list-unstyled
                    li فودافون كاش:
                      span  1600 جنيه
                    li رصيد فودافون:
                      span  1600 جنيه
                    li تحويل باى بال:
                      span  100$
                  h6.number ارقام التحويل:- كاش - رصيد
                  ul.conversion.list-unstyled
                    li 01066977670 
                    li 01093137220
                  h6.mail دفع بواسطه باى بال:
                  a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
// End Section Pubg 