// Start Section Shipping 
section.shipping.p-top-botm
  .container
    // Title Section 
    .title-shipping
      h2 طريقه الشحن من داخل مصر

    h6 اذا كنت من داخل مصر يمكنك الذهاب الى اقرب مكان يوجد لديه شحن
    |  (  فودافون كاش | رصيد فودافون | فورى |  مصارى | Bee ) 
    ul.shipping-egypt
      li ارسل البلغ المذكور فى العرض على رقم 01093137220 - 01066977670 
      li ارسل صوره ل ايصال الدفع  وايميل وباسورد حسابك هنا على 
        a.face(href="https://www.facebook.com/Hassan.Soliman.372" target='_blank') فيسبوك 
        | او على 
        a.whats(href="https://wa.me/201066977670" target='_blank') واتساب
      | وسيتم الشحن على حسابك فى خلال 5 دقايق فقط 

    .title-shipping
      h2 طريقه الشحن من خارج مصر

    ul.shipping-out-egypt
      li ارسل المبلغ المذكور فى العرض على حساب 
        a(href="https://www.paypal.me/Shaqawa?fbclid=IwAR0gS5lileMgbSDsXyS9gXAha7rPDw-TGB-qh4K4p8xMFuPpsErTInr9lYo" target='_blank') باى بال
      li ارسل صوره بالدفع من حسابك على باى بال وايميل وباسورد حسابك هنا على 
        a.face(href="https://www.facebook.com/Hassan.Soliman.372" target='_blank') فيسبوك 
        | او على 
        a.whats(href="https://wa.me/201066977670" target='_blank') واتساب
      | وسيتم الشحن على حسابك فى خلال 5 دقايق فقط 