section.charge-all
  .row
    // Item Shipping 
    .col-lg-4.col-md-6
      .card
        img.card-img-top(src='img/charge/pubg.jpg' alt='Image')
        .card-body.text-center
          h6 Pubg
          h5 60 UC
          h4 25 جنيه
          a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-pubg"): span
            |  أطلب شحنتك الان
      .credit-body
        #credit-pubg.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-pubg' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                span.title 60 UC
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body.text-center
                ul.price.list-unstyled
                  li فودافون كاش:
                    span  25 جنيه
                  li رصيد فودافون:
                    span  17 جنيه
                  li تحويل باى بال:
                    span  1$
                h6.number ارقام التحويل:- كاش - رصيد
                ul.conversion.list-unstyled
                  li 01066977670 
                  li 01093137220
                h6.mail دفع بواسطه باى بال:
                a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal

    // Item Shipping 
    .col-lg-4.col-md-6
      .card
        img.card-img-top(src='img/charge/free.jpg' alt='Image')
        .card-body.text-center
          h6 Freefire
          h5 100
          h4 25 جنيه
          a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-free"): span
            |  أطلب شحنتك الان
      .credit-body
        #credit-free.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-free' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                span.title 100
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body.text-center
                ul.price.list-unstyled
                  li فودافون كاش:
                    span  25 جنيه
                  li رصيد فودافون:
                    span  17 جنيه
                  li تحويل باى بال:
                    span  1$
                h6.number ارقام التحويل:- كاش - رصيد
                ul.conversion.list-unstyled
                  li 01066977670 
                  li 01093137220
                h6.mail دفع بواسطه باى بال:
                a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal

    // Item Shipping 
    .col-lg-4.col-md-6
      .card
        img.card-img-top(src='img/charge/Callduty.jpg' alt='Image')
        .card-body.text-center
          h6 Call of Duty
          h5 80 CP
          h4 20 جنيه
          a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-Call"): span
            |  أطلب شحنتك الان
      .credit-body
        #credit-Call.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-Call' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                span.title 80 CP
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body.text-center
                ul.price.list-unstyled
                  li فودافون كاش:
                    span  20 جنيه
                  li رصيد فودافون:
                    span  20 جنيه
                  li تحويل باى بال:
                    span  1$
                h6.number ارقام التحويل:- كاش - رصيد
                ul.conversion.list-unstyled
                  li 01066977670 
                  li 01093137220
                h6.mail دفع بواسطه باى بال:
                a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal

    // Item Shipping 
    .col-lg-4.col-md-6
      .card
        img.card-img-top(src='img/charge/google.jpg' alt='Image')
        .card-body.text-center
          h6 Google Play
          h5 $10
          h4 170 جنيه
          a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-google"): span
            |  أطلب شحنتك الان
      .credit-body
        #credit-google.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-google' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                span.title $10
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body.text-center
                ul.price.list-unstyled
                  li فودافون كاش:
                    span  170 جنيه
                  li رصيد فودافون:
                    span  170 جنيه
                  li تحويل باى بال:
                    span  1$
                h6.number ارقام التحويل:- كاش - رصيد
                ul.conversion.list-unstyled
                  li 01066977670 
                  li 01093137220
                h6.mail دفع بواسطه باى بال:
                a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal

    // Item Shipping 
    .col-lg-4.col-md-6
      .card
        img.card-img-top(src='img/charge/steam.jpg' alt='Image')
        .card-body.text-center
          h6 Steam
          h5 $10
          h4 160 جنيه
          a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-steam"): span
            |  أطلب شحنتك الان
      .credit-body
        #credit-steam.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-steam' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                span.title $10
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body.text-center
                ul.price.list-unstyled
                  li فودافون كاش:
                    span  160 جنيه
                  li رصيد فودافون:
                    span  160 جنيه
                  li تحويل باى بال:
                    span  1$
                h6.number ارقام التحويل:- كاش - رصيد
                ul.conversion.list-unstyled
                  li 01066977670 
                  li 01093137220
                h6.mail دفع بواسطه باى بال:
                a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal

    // Item Shipping 
    .col-lg-4.col-md-6
      .card
        img.card-img-top(src='img/charge/itunes.png' alt='Image')
        .card-body.text-center
          h6 Itunes
          h5 $10
          h4 160 جنيه
          a(class='btn btns btn-live' href='#' data-toggle="modal" data-target="#credit-itunes"): span
            |  أطلب شحنتك الان
      .credit-body
        #credit-itunes.modal.fade(tabindex='-1' role='dialog' aria-labelledby='credit-itunes' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                span.title $10
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body.text-center
                ul.price.list-unstyled
                  li فودافون كاش:
                    span  160 جنيه
                  li رصيد فودافون:
                    span  160 جنيه
                  li تحويل باى بال:
                    span  1$
                h6.number ارقام التحويل:- كاش - رصيد
                ul.conversion.list-unstyled
                  li 01066977670 
                  li 01093137220
                h6.mail دفع بواسطه باى بال:
                a(href="https://www.paypal.com/paypalme2/Shaqawa?fbclid=IwAR1W5Up3bAr3migD-m2HT6aOBcRG-JP0xONr4V_hIrbi5YwyDm-AvMFZRR8" target='_blank') Paypal
